<%= simple_form_for @dish, 
                    :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <fieldset>
    <legend>Dish Information</legend>
    <%= f.input :name %>
    <%= f.input :image_code, :as => :file %>
    <%= f.input :price %>
    <%= f.input :restaurant_id %>
    
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %> or
      <%= link_to 'Cancel', dishes_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
