<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dish.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @dish.price %>
</p>

<p>
  <strong>Image code:</strong>
  <%= @dish.image_code %>
  <%= image_tag(@dish.image_code) %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @dish.restaurant_id %>
</p>

<%= link_to 'Edit', edit_dish_path(@dish) %> |
<%= link_to 'Back', dishes_path %>
